* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: #040004;
    line-height: 1.5;
}

.content {
    background-color: #fff;
    width: 720px;
    padding: 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0px 6px 10px;
    border-radius: 5px;
}

.row {
    padding: 5px
}

.bottons {
    text-align: center;
}

fieldset {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    border-color: #c2cbce;
    box-shadow: 2px 2px 2px#c2cbce;
}

legend {
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label:not([for="sexo"]) {
    display: inline-block;
    width: 120px;
}

input {
    padding: 2px;
    outline: none;
}